:root {
    --primary-clr-100: #FFEEEE;
    --primary-clr-200: #FFF6EA;
    --primary-clr-300: #F7E9D7;
    --primary-clr-400: #EBD8C3;
    --primary-clr-alert: #E60965;
    --primary-clr-location: #24A19C;
}