.map-container {
    width: 550px;
}

.control-box {
    height: 20vh;
}

body>main>section.map-infos.main-layout.flex.space-around>div.loc-infos.flex.col-dir {
    height: 200px;
    width: 200px;
    background-color: var(--primary-clr-200);
    align-self: center;
    border-radius: 0.3em;
}

.loc-btn {
    background-size: contain;
    height: 20px;
    border-radius: 0.3em;
}

.loc-btn.delete-loc-btn {
    background-color: var(--primary-clr-alert);
}

.loc-btn.go-to-loc-btn {
    background-color: var(--primary-clr-location);
}