* {
    box-sizing: border-box;
}

html {
    font-family: lato;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}

p {
    margin: 0 0 1em;
}

button {
    border: unset;
    border-radius: 3px;
    color: rgb(225, 225, 225);
    background-color: rgb(118, 112, 112);
    padding: 0 10px;
    height: 35px;
    font-family: lato;
}